body {
    margin: 0;
}

.require {
    background-color:#98d9f3;
}

.toggleable {
    text-align: right;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.toggleable a:hover {
    cursor: pointer;
    color: black;
}

.toggleable a {
    display: inline-block;
    width: 100px;
    color: black;
    text-align: center;
    padding: 14px 0;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.toggleable a {
    display: inline-block;
    width: 100px;
    color: black;
    text-align: center;
    padding: 14px 0;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.navbar-content {
    display: flex;
    padding: 20px 30px;
}

.navbar-content__logo {
    width: 140px;
    height: 45px;
}

.spacer {
    flex: 1;
}
.navbar-content__toggler {
    display: none;
    font-size: 35px;
    color: black;
    position: relative;
}

.toggle__item {
    display: block;
}

.navbar {
    background-color:#98d9f3;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.mz {
    margin: 0;
}

.cart {
    box-shadow: 0 0 15px 0 black;
    position: fixed;
    top: 20px;
    right: 0;
    background-color: #98d9f3;
    padding: 50px 0;
    z-index: 3;
}

.cart-item {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 35px;

}

.cart .row-1 {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.cart__button--close {
    cursor: pointer;
}

.cart__product {
    margin-top: 15px;
    padding: 0 15px ;
}

.cart__product__info {
    flex-basis: 60%;
    width: 100%;
}

.require .col-2 {
    margin: auto 0;
}
.require__btn:hover {
    background-color: #593bff;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row h2 {
    font-size: 45px;
}

.col-2 {
    flex-basis: 49%;
}

.row button {
    background-color: blue;
    color: white;
    padding: 10px 35px;
    margin: 35px 0;
    border-radius: 20px;
    border: 2px solid white;
    cursor: pointer;
}

.catalog {
    margin: 40px 50px 120px 50px;
}

.first-catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-3 {
    flex-basis: 30%;
}

.catalog__border-bot {
    border-top: 4px solid orange;
}

.second-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4:hover {
    transform: translateY(-10px);
}

.col-4 {
    flex-basis: 22%;
}

.catalog__feature {
    text-align: center;
    margin: 40px auto 70px;
    line-height: 50px;
    color: #737272;
    position: relative;
}

.catalog__feature::after {
    content: "";
    height: 4px;
    border-radius: 4px;
    background-color: orange;
    width: 90px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating--orange-color {
    color: orange;
}

.buy-now {
    background-color:#98d9f3;
    flex-wrap: wrap;
}

.buy-now__btn:hover {
    background-color: #593bff;
}

.user-comment {
    color: #737272;
    text-align: center;
    margin:130px 0 90px 0 ;
    padding: 0 120px;
}

.user-comment__image {
    
    width: 60px;
    border-radius: 60px;
}

.user-comment__frame {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
}

.branch {
    padding: 0 120px ;
    margin: 140px 0;
}

.branch__item {
    filter:sepia(100%);
}

.branch__item:hover {
    filter:sepia(0%);
    cursor: pointer;
}

.col-5 {
    flex-basis: 18%;
}

.footer {
    background-color: black;
    color: #8c8c8c;
    padding: 30px 20px;
}

.footer__col-1 {
    flex-basis: 27%;
}

.footer__col-2 {
    flex-basis: 17%;
}

.footer h3 {
    color: white;
}

.sign {
    background-color: black;
    color: #8c8c8c;
    padding: 5px 20px;
    border-top: 1px solid white;
}

@media only screen and (max-width: 800px) {
    /* ############################ toggle */
    .toggleable {
        display: none;
        width: 100px;
        margin: auto 0;
        z-index: 2;
        position: absolute;
    }

    .toggleable a:hover {
        background-color: black;
        /* text-align: center; */
        color: white;
        cursor: pointer;
        width: 100px;
    }

    .toggleable.opened {
        display: block;
        right: 0;
        top: 60px;
        background-color: white;
    }

    .navbar-content__toggler {
        float: right;
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    /* ############################ img */
    .col-2 {
        flex-basis: 100%;
        margin: 10px 0;
    } 

    .col-3 {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .col-4 {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .col-5 {
        flex-basis: 60%;
    }

    .footer__col-1 {
        flex-basis: 60%;
    }
    
    .footer__col-2 {
        flex-basis: 60%;
    }

    .text-left {
        text-align: center;
    }
}